body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header,
.one,
.footer {
    background-color: #1f2937;
    padding: 0 210px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.hero h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}

.hero p,
.header ul {
    font-size: 18px;
    color: #e5e7eb;
    
}

.hero p {
    margin-top: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 1000;
}

button,
.box {
    background-color: #3882f6;
}

button {
    padding: 8px 36px;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 900;
    border: 0;
    border-radius: 8px;
}

.two h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.one {
    display: flex;
    gap: 50px;
    min-height: 480px;
    align-items: center;
}

.hero {
    width: 450px
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
    width: 520px;
    background-color: #b5b8bd96;
    color: #f9faf8;
}

.three {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}