body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header,
.one,
.footer {
    background-color: #1f2937;
    padding: 0 210px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.left h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.left p,
.header ul {
    font-size: 18px;
    color: #e5e7eb;
    
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 1000;
}

button,
.box {
    background-color: #3882f6;
}

.two h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.three {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}